* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #ffffff;
}
html{
    width: 100%;
    height: 10vh;
}

body {
  background-color: #000000;


}


header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.coupon {
  background-color: #916242;
  text-align: center;
  padding: 5px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  position: relative;
  right: 126px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: und;
}

.logo img {
  height: 150px;
  width: auto;
  right: 130px;
  position: relative;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  color: #ffffff;
}



.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: 250px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 2s ease-in;
  border: 1px solid white;
  border-radius: 15px;
  
}

.container:hover{
    box-shadow: 0px 0px 800px 5px #0628be;
}

.left {
  background: url("https://images.stockcake.com/public/8/a/8/8a886a1e-44c9-4e34-a398-d0e694f0997c_medium/glowing-tech-dumbbells-stockcake.jpg")
    no-repeat center center;
  background-size: cover;
  color: white;
  width: 40%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.left h3 {
  margin-bottom: 20px;
}

.left p {
  margin: 10px 0;
  font-size: 14px;
}

.left p i {
  margin-right: 10px;
}

.right {
  background-color: white;
  padding: 40px 30px;
  width: 60%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.right h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  
  
}

.right input,
.right textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.right button:hover {
  background-color: #333;
}


.content{
    text-align:center;
    line-height: 50px;
}


footer {
  background: url("https://t3.ftcdn.net/jpg/01/84/63/08/360_F_184630858_k4zGVxp7vJGszuvNlZbCv09ZqQ0JKs4u.jpg");
  width: 100%;
  height: 750px;
  /* margin-top: 100px; */
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
overflow: hidden;
}

.foot-back {
  position: relative;
  z-index: 1;
  
}

.logo-center img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.slogan-line {
  margin-top: 35px;
  font-size: 20px;
  word-spacing: 3px;
}

.general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.add {
  width: 250px;
  line-height: 2;
  text-align: start;
}

.second h5 {
  font-size: larger;
  margin-bottom: 12px;
}

.second ul {
  list-style: none;
  text-align: start;
}

.second ul li {
  line-height: 2;
}

.third {
  width: 500px;
  font-size: 25px;
}

.third input {
  padding: 15px 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background: transparent;
  border: 1px solid white;
  color: rgb(255, 7, 7);
  font-weight: 600;
}

.third button {
  padding: 15px 25px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  right: 9px;
  background-color: rgb(13, 208, 208);
  
}

.social-media {
  margin-top: 60px;
}

.social-media .fa-brands {
  margin: 0px 15px;
}

hr {
  margin-top: 35px;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

.last ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 20px;
}

.last ul li a {
  text-decoration: none;
  color: white;
}

.last ul li a:hover {
  text-decoration: underline;
}

.final {
  margin-top: 50px;
}