* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 1000vh; */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: black;
  color: #ffffff;
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.coupon {
  background-color: #916242;
  text-align: center;
  padding: 5px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  position: relative;
  right: 126px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: und;
}

.logo img {
  height: 150px;
  width: auto;
  right: 130px;
  position: relative;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  color: #ffffff;
}



.container {
  background: linear-gradient(135deg, #0b34d1, #342f4a);
  border-radius: 20px;
  overflow: hidden;
  max-width: 1000px;
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 35px;
  transition: 4s ease;
}

.login-box {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  flex: 1;
  padding: 40px;
  min-width: 300px;
}

.form-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-section h2 span {
  font-weight: 700;
}

.form-section small {
  font-size: 12px;
  color: #eeeeee;
}

.form-section h3 {
  margin: 20px 0;
  font-size: 20px;
}

form input {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: transparent;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.btnnnn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.register {
  text-align: center;
  margin-top: 10px;
}

.policy-links {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

.image-section {
  flex: 1;
  background: linear-gradient(90deg, #7700bf, #615fcf);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-width: 300px;
  border-radius: 37%;
  box-shadow: 0px 0px 100px 25px rgb(0, 204, 255);
  
}





.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.container:hover{
    box-shadow: 0px 0px 200px rgb(73, 46, 190);
}




a{
    color: white;
}

footer {
  background: url("https://t3.ftcdn.net/jpg/01/84/63/08/360_F_184630858_k4zGVxp7vJGszuvNlZbCv09ZqQ0JKs4u.jpg");
  width: 100%;
  height: 750px;
  /* margin-top: 100px; */
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.foot-back {
  position: relative;
  z-index: 1;
}

.logo-center img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.slogan-line {
  margin-top: 35px;
  font-size: 20px;
  word-spacing: 3px;
}

.general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.add {
  width: 250px;
  line-height: 2;
  text-align: start;
}

.second h5 {
  font-size: larger;
  margin-bottom: 12px;
}

.second ul {
  list-style: none;
  text-align: start;
}

.second ul li {
  line-height: 2;
}

.third {
  width: 500px;
  font-size: 25px;
}

.third input {
  padding: 15px 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background: transparent;
  border: 1px solid white;
  color: rgb(255, 7, 7);
  font-weight: 600;
}

.third button {
  padding: 15px 25px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  right: 9px;
  background-color: rgb(13, 208, 208);
}

.social-media {
  margin-top: 60px;
}

.social-media .fa-brands {
  margin: 0px 15px;
}



.last {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

.last ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 20px;
}

.last ul li a {
  text-decoration: none;
  color: white;
}

.last ul li a:hover {
  text-decoration: underline;
}

.final {
  margin-top: 50px;
}

.app-section {
  background: url("https://img.freepik.com/premium-vector/cosmic-nightfall-clean-spaceinspired-background_483777-588.jpg?ga=GA1.1.1345385023.1749443401&semt=ais_hybrid&w=740");
  width: 100%;
  height: 750px;
  /* margin-top: 100px; */
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.app-btn > button {
  padding: 18px 38px;
  border-radius: 21px;
  margin-top: 25px;
  background: #ffffff;
  margin-left: 150px;
  border: none;
  font-size: larger;
  transition: 1s ease;
}

.app-btn > button:hover{
  background-color: black;
  color: white;
  cursor: pointer;

}

.app-heading {
  width: 31vw;
  font-size: 30px;
  margin-left: 150px;
}

.app-heading > span {
  font-weight: 300;
}

.models > img {
  width: 61vw;
  
}   


.second a:hover{
    cursor: pointer;
}
