@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("Assests/img/hero.jpg");
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: max(1200px 100vw); */
  background-size: 100vw 100vh;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-direction: column;
  gap: 23px;
  text-align: center;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.sepration {
  height: 5px;
  background-color: rgb(46 44 44);
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: white;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
}



.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}

.hero-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 16px;
}
.main input {
  padding: 7px 101px 8px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(254, 250, 250, 0.5);
  color: white;
  font-weight: 900;
}


.first{
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 70vw;
 margin: auto;
 color: white;
}


.sec-image{
  position: relative;
}
.sec-image img{
  width: 30vw;
  position: relative;
  z-index: 10;
}

.sec-image video{
  position: absolute;
    top: 56px;
    right: 20px;

}

.first > div:first-child{
  font-size: 48px;
  font-weight: bolder;
}

.first > div:nth-child(2){
  font-size: 24px;
  font-weight: bolder;
}

